# This file is used to record file suffixes that do not require version tracking.
# Last change time: 2022-03-30 10:34

# Visual Studio (Code) cache/config directory
/.vs/
/.vscode/

# Dev-C++ project/backup
*.dev
*.layout
*.win

# Visual Studio project
/buildconfig/
*.sln
*.idb

# Program debug file
*.pdb
*.obj.enc
*.exe.recipe
*.ilk
*.tlog

# Target/Executable file
*.exe
*.log

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Others
*.mp3
*.wav
*.m4a
*.bmp
